@charset "UTF-8";

/*  */

#adminOld_container {width:80vw; height:100vh}
#adminOld_wrap {
	position:relative; z-index:2;
}

#adminOld_wrap h3 {
	font-size:30px;
	line-height:100px;
	display:inline-block;
	margin-left:-23%;
}
.trade_total_status {
	width:96%; height:100px;
	background-color:#fff;
	display:block;
	margin-left:2%;
}
.trade_total_status li {
	float:left;
	margin:0 3%;
	line-height:100px;
	font-size:20px;
}
.trade_total_status li span {
	padding:0 30px
}
.trade_total_status li:nth-child(1) {margin-left:-20%}
.trade_total_status li form select {height:25px;}
.trader_total_status li form input {height:20px;line-height:20px}
#tradeSearch {height:25px;}
#tradeSearchFrm {
	float:right;
	margin:15px 50px 0 0
}
.trade_buttons {
	display:inline-block;
	margin:15px 0 30px -23%;
	position:relative; z-index:1;
}
.trade_buttons button {
	width:120px; height:30px;
	margin:0 10px;
	border:0;
	border-radius:15px;
	background-color:#54bab9;
	color:#fff;
	cursor:pointer;
}
.trade_buttons button:active {background-color:#276968;}

.trade_list_box {
	width:96%; height:600px;
	background-color:#fff;
	margin-left:2%;
	overflow-x:hidden;
	overflow-y:auto;
	position:absolute; left:0; top:300px;
}
.trade_title {
	width:100%; height:50px;
	display:block;
	line-height:50px;
	text-align:center;
	margin:10px 0 30px 0;
}
.trade_list_box > ul li{
	float:left;
	text-align:center;
}
.trade_title > li {
	position:relative;
	font-size:20px; font-weight:600;
}
.trade_title li::after {
	content:"";
	width:80%; height:50px;
	display:block;
	border-bottom:1px solid gray;
	position:absolute; left:10%; top:0;
}
.trade_title li:nth-child(1) {width:2%; text-indent:-9999px}
.trade_title li:nth-child(2) {width:15%}
.trade_title li:nth-child(3) {width:33%}
.trade_title li:nth-child(4) {width:10%}
.trade_title li:nth-child(5) {width:15%}
.trade_title li:nth-child(6) {width:15%}
.trade_title li:nth-child(7) {width:10%}

.trade_list {width:100%}

.trade_list > li{
	width:100%; height:50px;
	display:block;
	line-height:50px;
	text-align:center;
	font-size:16px;
}
.trade_list li ul li{
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	border-bottom:1px solid #b5b5b5;
}

.trade_list li ul li:nth-child(7n-6) {width:2%;}
.trade_list li ul li:nth-child(7n-5) {width:15%;}
.trade_list li ul li:nth-child(7n-4) {width:33%;}
.trade_list li ul li:nth-child(7n-3) {width:10%}
.trade_list li ul li:nth-child(7n-2) {width:15%}
.trade_list li ul li:nth-child(7n-1) {width:15%}
.trade_list li ul li:nth-child(7n) {width:10%}
.trade_list li a:link {color:black}
.trade_list li a:visited {color:green }
.trade_list li a:hover {background-color:rgba(0,0,0,0.1)}
