@charset "UTF-8";

#admin_container {width:100%; height:100%; color:#fff; overflow:hidden}
#admin_wrap {min-width:1200px; height:100%x; margin:0 auto;overflow:hidden
}
#ad_logo {
	display:block;
	width:200px; height:55px;
	margin:50px auto 50px auto;
	transform:translateX(-20px);
}
#admin_lnb {
	width:20vw; height:100vh;
	float:left;
	background-color:rgba(0,0,0,0.8);
}
#ad_searchFrm input:nth-child(1){
	display:inline-block;
	border:none;
	border-bottom : 1px solid #888;
	background-color:rgba(0,0,0,0);
	margin-left:16%;
	color:#fff
}
#ad_searchFrm input:nth-child(2) {
	height:30px;
	border-radius:15px;
	background-color:rgba(255,255,255,0.8);
	color:#222;
	line-height:20px
}
#ad_profile {position:relative; text-align:center;}
#ad_p_img{
	width:150px; height:150px;
	display:block;
	margin:50px auto 0 auto;
	border-radius:75px;
}
#ad_profile a {width:150px; height:150px;
	display:inline-block;
	margin:30px auto 0 auto;
	border-radius:75px;
	position:absolute; left:50%px; top:-30px;
	transform:translateX(-75px);
	background-color:rgba(0,0,0,0.3);
	opacity:0; transition:all 0.5s;
}
#ad_profile a:hover {opacity:1}
#ad_profile p {line-height:100px}
#admin_lnb ul {margin-top:50px}
#admin_lnb ul li span {
	height:50px;
	display:inline-block;
	margin-left:20%;
	line-height:50px;
	cursor:pointer;
}
#resultArea {
	width:100vw; height:100%;
	transform:translateX(20vw);
	text-align:left;
	background-color:rgba(0,0,0,0.1);
	color:#222;
	position:relative; z-index:1;
}
#resultArea p {display:none}