@charset "UTF-8";


#adminUser_container {width:80vw; height:100vh}
#adminUser_wrap {
	position:relative; z-index:2;
}

#adminUser_wrap h3 {
	font-size:30px;
	line-height:100px;
	display:inline-block;
	margin-left:-23%;
}
.member_status {
	width:96%; height:100px;
	background-color:#fff;
	display:block;
	margin-left:2%;
}
.member_status li {
	float:left;
	margin:0 1%;
	line-height:100px;
	font-size:24px;
}
.member_status li span {
	padding:0 50px
}
.member_status li:nth-child(1) {margin-left:-20%}
.member_status li:nth-child(3) {margin-top:-5px}
.member_status li form select {height:25px;}
.member_status li form input {height:20px;line-height:20px}
#memberSearch {height:25px;}
.member_buttons {
	display:inline-block;
	margin:30px 0 30px -23%;
	position:relative; z-index:1;
}
.member_buttons button {
	width:100px; height:30px;
	margin:0 10px;
	border:0;
	border-radius:15px;
	background-color:#54bab9;
	color:#fff;
	cursor:pointer;
}
.member_buttons button:active {background-color:#276968;}

.member_list_box {
	width:96%; height:550px;
	background-color:#fff;
	margin-left:2%;
	overflow:hidden;
	position:absolute; left:0; top:300px;
}
.member_title {
	width:100%; height:50px;
	display:block;
	line-height:50px;
	text-align:center;
	margin:10px 0 30px 0;
}
.member_list_box > ul li{
	float:left;
	text-align:center;
}
.member_title > li {
	position:relative;
	font-size:20px; font-weight:600;
}
.member_title li::after {
	content:"";
	width:80%; height:50px;
	display:block;
	border-bottom:1px solid gray;
	position:absolute; left:10%; top:0;
}
.member_title li:nth-child(1) {width:2%; text-indent:-99999px}
.member_title li:nth-child(2) {width:10%}
.member_title li:nth-child(3) {width:10%}
.member_title li:nth-child(4) {width:10%}
.member_title li:nth-child(5) {width:24%}
.member_title li:nth-child(6) {width:14%}
.member_title li:nth-child(7) {width:5%}
.member_title li:nth-child(8) {width:5%}
.member_title li:nth-child(9) {width:15%}
.member_title li:nth-child(10) {width:5%}

.member_list > li{
	width:100%; height:50px;
	display:block;
	line-height:50px;
	text-align:center;
	border-bottom:1px solid #b5b5b5;
	font-size:18px;
}

.member_list li ul li:nth-child(1) {width:2%}
.member_list li ul li:nth-child(2) {width:10%}
.member_list li ul li:nth-child(3) {width:10%}
.member_list li ul li:nth-child(4) {width:10%}
.member_list li ul li:nth-child(5) {width:24%}
.member_list li ul li:nth-child(6) {width:14%}
.member_list li ul li:nth-child(7) {width:5%}
.member_list li ul li:nth-child(8) {width:5%}
.member_list li ul li:nth-child(9) {width:15%}
.member_list li ul li:nth-child(10) {width:5%}

