@charset "UTF-8";

#glscreen {
	width:100%; height:100%;
	position:absolute; left:0; top:0;
	z-index:-1;
	opacity:0.5;
	}
/* ※ 로그인  CSS ※*/

#login_container{
	width:100%;
	background-size: 100%;
	overflow:hidden;
}
.loginheader>div{
	font-family: "Nanum pen script", cursive; 
	font-size:2em	
}

.accounthidden>button,input,input[type=password],input[type=text]{
	font:28px "Nanum pen script";
	color:black;
	background-color:transparent
}

#contents, #wrapper{
	position:relative;
} 

.userlogin{
	padding-top:60px;
}

.inputMsg{
	display:hidden;
	height:30px;
	margin-top:2px;
	font-weight:700;
	letter-spacing:-.6px;
	text-align:left;
	color:red
}

.inputMsg2{ /*로그인 경고메세지*/
	display:hidden;
	height:30px;
	margin-top:2px;
	font-weight:700;
	letter-spacing:-.6px;
	text-align:left;
	color:red;
	margin-top : 10px;
	margin-bottom :10px;
	padding-left :10px;
}

#wrapper.showMsg{
	display:block
}

#wrapper{
	max-width:500px;
	min-width:370px;
	min-height:100%;
	min-height:100vh;
	padding:0 16px;
	margin:0 auto
}

fieldset{
	border:none;
}

.accounthidden{
	position:absolute;
	overflow:hidden;
	clip:rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px
}

.loginheader{
	min-width:328px;
	padding-top:120px;
	text-align:center
}
	
.loginheader.logo{
	display:inline-block;
	margin:0 auto;
	width:120px;
	height:40px
}
	
.id input,.password input{
	width:100%;
	height:55px;
	padding:20px 14px;
	border-radius: 10px;
	border:1px solid #fff;
	background-color:rgba( 255, 255, 255, 0.5 );
	font-size:16px;
	font-weight:700;
	outline:0;
	transition:border-color .15s linear
}

.id input::placeholder,.password input::placeholder{
	font:28px "Nanum pen script";
	color: gray;

	}

.button01{
	cursor:pointer;
	width:100%;
	height:55px;
	font-size:32px;
	border-radius: 10px;
	font-family:'Nanum pen script';
	background-color:rgb( 253, 212, 149);
	transition:all.15s linear
}
/*
.button01:active,.button01:hover{
	outline:0;
	background-color:#07f;
	transition:all .2s linear
}*/

.loginmenu{
	position:relative;
	height:20px;
	padding-top:8px
}

.loginmenu a{
	font-weight:600;
	font-size: 18pt;
	letter-spacing:-.4px;
	color:rgb( 244, 156, 21);
	margin-right:8px;
	transition:all.15s linear
}
.loginmenu a:hover{
	color: red;
	transition:all.2s linear
}

/* 로그인 CSS 끝*/

/*회원가입 CSS 시작*/
#join_wrapper {
	background:url(../img/signup_bg.png) 0 0;
	opacity:1;
}
#join_wrapper form{
	max-width:700px;
	min-width:400px;
	min-height:100%;
	min-height:100vh;
	padding:80px 20px 0px;
	margin:0 auto;
	background-color:rgba(255,255,255,0.8);
}

#joinMenu{
	margin-left:10%; 
}

.joinbox input{
	width:80%;
	height:15px;
	padding:20px 14px;
	border : none;
	border-bottom:1px solid #d5d9de;
	background-color:#fff;
	font-weight:700; font-size: 20px;
	outline:0;
	transition:border-color .15s linear;
	margin-bottom:10px;
}

#email1{
	width:48%;
	height:15px;
	padding:20px 14px;
	border : none;
	border-bottom:1px solid #d5d9de;
	background-color:#fff;
	font-weight:700; font-size: 20px;
	outline:0;
	transition:border-color .15s linear;
	margin-bottom:10px;
	margin-right:8px;
}

#email2{
	width:23%;
	height:15px;
	padding:20px 14px;
	border : none;
	border-bottom:1px solid #d5d9de;
	background-color:#fff;
	font-weight:700; font-size: 20px;
	outline:0;
	transition:border-color .15s linear;
	margin-bottom:10px;
	margin-left:8px;
}

#ConfirmCode{ /* 인증번호 넣기 */
	width:80%;
	height:20px;
	padding:15px 14px;
	border:1px solid #ddd;
	background-color:#fff;
	font-weight:700;
	outline:0;
	transition:border-color .15s linear;
	margin-bottom:20px;
	margin-top:20px;
}

#emailchk{
	cursor:pointer;
	margin-left:15px; 
	width:12%;
	height:60px;
	font-size:24px;
	color:#fff;
	border-radius: 10px;
	font-family:'Nanum pen script';
	background-color: black;
	transition:all.15s linear;
}

.button02{ /*가입하기 버튼*/
    cursor:pointer;
	margin-left:10%; 
	margin-top : 40px;
	margin-bottom : 20px;
	position:relative;
 	width:72%;
	height:55px;
	font-size:32px;
	color:#fff;
	border-radius: 10px;
	font-family:'Nanum pen script';
	background-color: black;
	transition:all.15s linear;
}
.inputMsg {
	margin-left:80px;
	font-size:24px; font-weight:400;
	transition:all 0.5s;
}
@keyframes blink{
	0% {opacity:0;}
    50% {opacity:1;}
}

/*회원가입 CSS 끝*/