@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Nanum+Pen+Script&display=swap');

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
ol, ul {
	list-style: none;
}
.hidden {
	text-indent: -9999px;
	display:none;
}

/* reset - end */

html {width: 100%; height: 100%;}
body {
    font-family: 'Nanum Pen Script', cursive;
    font-size:30px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
}
article {
    width: 100%; height: 1080px;
    margin:0; padding:0px;
    position: relative; z-index:1;
    overflow: hidden;
}
h1{
	font-size: 40px;
    line-height: 100px;
    font-family: 'Hi Melody', cursive;
}
h2 a {
	font-family: 'Hi Melody', cursive;
    width: 200px; height: 60px;
    display: block; 
    border-top-left-radius: 30px; border-top-right-radius: 30px;
    border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;
    border:3px solid #fff;
    font-size: 30px; color: #fff;
    line-height: 60px; text-align: center;
    transition: all 0.5s;
    color:#fff;
}
a:link {color:#fff; text-decoration: none;}
a:visited {color:#fff}

h2 a:hover {background-color: #54bab9;}
.wrap {
	display:block;
	width:100%; height:100%;
	position:relative;
	left: 50%; transform: translateX(-50%);
	max-width:2400px;
}
#container {
	
	background-color: #000;}

/* ************ */
/* head - start */
/* ************ */
header {
    width: 100%; height: 100px;
    background-color: #f7ecde;
    position:fixed; z-index: 999;
}
header a:link {color:#222; text-decoration: none;}
header a:visited {color:#222}
header > a {
	display:block;
	width: 270px; height: 50px;
	margin: 0 auto; padding:25px 0;
}
#rnb {
    position:absolute; right: 0;top: 0;
    z-index: 2;
    text-align: center; line-height: 40px;
}
/* <로그인 후> logout, mypage 버튼 숨기기 */
#statusLogin {display: none;} 
#rnb #logStatus1 {position: absolute; right: 180px;top: 30px;}
#rnb #logStatus2 {position:absolute; right: 50px; top: 30px;}
#rnb #logStatus2 a {
    display:block;
    width: 100px; height: 40px;
    border-top-left-radius: 20px; border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;
    background-color: #54bab9;
}
#menu_bar{
    position:absolute; left: 50px; top: 32px;
    z-index: 2; cursor: pointer;  
}
#gnb {
    width: 340px; background-color: #e9dac1;
    position:absolute; left: -340px; top: 100px;
    z-index: 3;
    transition: all 1s;
}
#gnb img {
    float:right; 
    margin:12.5px 15px 0 0;
    cursor: pointer;
}
#gnb li {
    width: 340px; height: 50px;
    line-height: 50px; text-align: center;
}
#gnb li:nth-child(2n-1) {background-color: #fff;}
#gnb li:hover{background-color: #54bab9;}
#gnb li:nth-child(1):hover{background-color: #fff;}
#notice_bar{
    width: 100%;height: 50px;
    position: absolute; left: 0; top: 100px;
    z-index: 2;
    background-color: #fff;
}
#notice_bar img {
    margin:10px 100px 0 20%;
    
}
#notice_bar MARQUEE{
    width: 1020px;
    position:absolute; left: 50%; top: 0;
    transform:translateX(-510px);
    line-height: 50px;
}
.hide{position:absolute; left: -340px; top: 100px;}
.show{transform:translateX(340px);}
/* ************ */
/* head - end */
/* ************ */

/* ************ */
/* main - start */
/* ************ */

/* adver_video - start */
#adver_video {
    margin: 0;
    background: #000;
}
#adver_video video {
    width: 100%; height: 930px;
    object-fit: cover;
    margin-top:150px;
}
/* 전체화면 버튼 */ 
video::-webkit-media-controls-fullscreen-button {display: none !important;}
/* 일시정지, 재생 버튼 */ 
video::-webkit-media-controls-play-button {display: none !important;} 
/* 재생 슬라이드..? */ 
video::-webkit-media-controls-timeline {display: none !important;} 
/* 현재 진행 시간 */ 
video::-webkit-media-controls-current-time-display{display: none !important;} 
/* 전체 시간 */ 
video::-webkit-media-controls-time-remaining-display {display: none !important;} 
/* 음소거 버튼 */ 
video::-webkit-media-controls {}
video::-webkit-media-controls-mute-button {} 
/* 볼륨 조절 슬라이드 */ 
video::-webkit-media-controls-volume-slider {display: none !important;}
#scrolldown {
    color:#fff;
    position:absolute; left: 50%; bottom: 100px;
    animation: updown infinite 1s;
    text-align: center;
}
#scrolldown img{
    width: 50px; height: 50px;
}
@keyframes updown{
    0% {bottom:100px}
    50% {bottom:150px}
    100% {bottom:100px}
}
/* adver_video - end */

/* todaysCodi - start */
#todaysCodi {
    background-color:#000;
    color: #fff;
}
#todaysCodi .wrap{background: url(../img/todays_codi_bg.png) no-repeat 0 0;}
#todaysCodi h1{
    margin-left:340px; padding-top:200px;
}
#todaysCodi h2 a {
    position: absolute; left: 340px; top: 300px;
    z-index: 2;
 }
#lookTop3 p {
    text-align: center;
    margin-top: 80px;
}
#lookTop3 ul{
    width: 990px; height: 500px;
    margin: 150px auto 0 auto;
    position:relative;
}
#lookTop3 li {
    width: 270px; height: 335px;
    border-top-left-radius: 125px; border-top-right-radius: 125px;
    background-color: red;
    float: left;
    position: relative; top:0px;
    z-index: 2;
}
#lookTop3 li:nth-child(1) {
    width: 350px; height: 450px;
    border-top-left-radius: 175px; border-top-right-radius: 175px;
    position: absolute; left:32.5%; top: -110px;
    /* 임시 사진 */
    background: url(../img/todays_codi_1st.png) no-repeat 0 0;
    background-size: 365px;
}
#lookTop3 li:nth-child(2) {
    margin-right: 450px;
    /* 임시 사진 */
    background: url(../img/todays_codi_2nd.png) no-repeat 0 0;
    background-size: 270px;
}
#lookTop3 li:nth-child(3) {
    /* 임시 사진 */
    background: url(../img/todays_codi_3rd.png) no-repeat -45px -20px;
    background-size: 365px;
}
#lookTop3 span {
    display: block;
    text-align: center;
    margin-top: 345px;
}
#lookTop3 li:nth-child(1) span {margin-top: 460px;}
#lookTop3 li img {
    position: absolute; right: -35px; top: -20px;
    transform: rotate(45deg);
    z-index:3;
}
@keyframes shake{
    0%{transform: rotate(45deg);}
    10%{transform: rotate(90deg);}
    20%{transform: rotate(0deg);}
    30%{transform: rotate(75deg);}
    40%{transform: rotate(15deg);}
    50%{transform: rotate(55deg);}
    60%{transform: rotate(35deg);}
    70%{transform: rotate(45deg);}
    100%{transform: rotate(45deg);}
  }
#lookTop3 li:nth-child(1) img {right: -15px; top: -10px;}
.codi_hover {
    width: 270px; height: 335px;
    border-top-left-radius: 125px; border-top-right-radius: 125px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute; left: 0; top: -80px;
    opacity: 0;  transition: all 0.5s;
}
#lookTop3 ul li:nth-child(1) > .codi_hover {
    width: 350px; height: 450px;
    border-top-left-radius: 175px; border-top-right-radius: 175px;
    position: absolute; left:0px; top: -80px; 
} 
.codi_hover a {
    display: block;
    width: 150px; height: 40px;
    border: 2px solid #fff;
    line-height: 40px; color:#fff;
    margin: 50% auto;
    transition:all 0.5s;
}
.codi_hover  a:hover {background-color:#54bab9;}
#lookTop3 ul li:hover .codi_hover {opacity: 1;}
#lookTop3 ul li:hover img {
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}
#particles-js{
	width:100%; height:100%;
    position: absolute;left: 0; top: 0;
    z-index: 1;    
}
/* 별주기 */
.star-rating,
.star-rating2,
.star-rating3 {
  display: flex;
  flex-direction: row-reverse;
  font-size: 3rem;
  line-height: 3rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
  margin:0 auto;
}
 
.star-rating input,
.star-rating2 input,
.star-rating3 input{
  display: none;
}
 
.star-rating label, 
.star-rating2 label,
.star-rating3 label
{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
 
.star-rating :checked ~ label,
.star-rating2 :checked ~ label,
.star-rating3 :checked ~ label {
  -webkit-text-fill-color: gold;
}
 
.star-rating label:hover,
.star-rating label:hover ~ label
.star-rating2 label:hover,
.star-rating2 label:hover ~ label,
.star-rating3 label:hover,
.star-rating3 label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}
/* todaysCodi - end */

/* style_reco - start */
#style_reco {background:url(../img/style_reco_bg.png) 0 0;}
#style_reco > .wrap {
    background:url(../img/style_reco_bg.png) no-repeat 0 0;
    max-width:1920px;
 }
#style_reco h1 {
    position:absolute; left:50%; top:200px;
    z-index:3;
	width:500px; height:100px;
	transform: translateX(-250px);
    background : radial-gradient(black 50px, transparent 70%);
	text-align:center;
	color:#fff;
	opacity:0;
	transition:all 0.5s;
}
#style_reco h2 a {
	display:none;
	margin : 300px auto 0 auto;
	background-color:rgba(0,0,0,0.3);
	position:absolute; 
	left:50%; top:0px; z-index:3;
	transform: translateX(-100px);
	transition:all 0.5s;
}
#style_reco h2 a:hover {background-color:#222;}
#style_reco ul li {
	width:500px; 
	position:absolute; left:50%; top:200px; 
	transform: translateX(-250px);
	font-size : 60px; text-align:center;
}
#text_effect {transition:all 0.5s;}
.text {z-index:4; color:#fff;}
.text_before {
	z-index:3;
	animation: textE 0.3s infinite;
	color: #f0f;
}
.text_after {
	z-index:2; 
	animation: textE 0.2s infinite reverse;
	color: #0ff;
}

@keyframes textE {
  0% {transform: translate(-250px)}
  20% {transform: translate(-255px, 5px)}
  40% {transform: translate(-255px, -5x)}
  60% {transform: translate(-245px, 5px)}
  80% {transform: translate(-245px, -5px)}
  to {transform: translate(-250px)}
}
.style_bg2 {
	position:absolute; left:0; top:0;
	z-index:1;
}
.style_bg3 {
	position:absolute; right:0; top:0;
	z-index:1;
}
#people > img {
	position:absolute; 
	z-index:2;
	cursor:pointer;
	transition:all 1s;
	}
#people img:nth-child(1) {
	left:-50px; bottom:-330px;
	transform:rotate(10deg);
}
#people img:nth-child(2) {
	left:1100px; top:280px; z-index:1;
	transform:rotate(-30deg);
}
#people img:nth-child(3) {
	left:430px; top:220px; z-index:1;
	transform:rotate(25deg);
}
#people img:nth-child(4) {
	left:1500px; bottom:-350px;
	transform:rotate(-30deg);
}
#people img:nth-child(5) {
	left:300px; top:-310px;
	transform:rotate(150deg);
}

/* style_reco - end */

/* trade - start */
#trade {background: url(../img/trade_bg.png);}
#trade .wrap {max-width:1920px;}
#trade h1 {
	text-align:center;
	padding-top:450px;
}
#trade h2 a {
	margin:0 auto;
	border: 3px solid #222;
	color:#222;
	position:absolute; left:50%; top:550px;
	transform:translateX(-100px);
	z-index:2;
}
#trade ul {
	width:100%; height:100%;
	position:absolute; left:50%; top:0;
	transform:translateX(-50%);
}
#trade ul li {position:absolute; transition:all 1s;}
#trade ul li:nth-child(1) {left:100px; top:150px;}
#trade ul li:nth-child(2) {left:880px; top:230px;}
#trade ul li:nth-child(3) {right:380px; top:200px;}
#trade ul li:nth-child(4) {right:150px; top:200px;}
#trade ul li:nth-child(5) {left:450px; top:450px;}
#trade ul li:nth-child(6) {left:200px; top:700px;}
#trade ul li:nth-child(7) {left:800px; top:700px;}
#trade ul li:nth-child(8) {right:350px; top:600px;}
#trade ul li:hover {transform:scale(1.1);}
/* trade - end */

/* review - start */
#review {background: url(../img/review_bg.png) 0 0;}
.bg {
	position:absolute; left:50%; top:0;
	transform: translateX(-1280px);
	z-index:-1;
}
.bg img:nth-child(2) {
	position:absolute; left:50%; top:0px;
	transform:translateX(-630px);
	z-index:1;
}
#review h1 {
	text-align:center;
	padding-top:380px;
}
#review h2 a {
	color:#222;
	border: 3px solid #222;
	position:absolute; left:50%; top:630px;
	transform: translateX(-120px);
}
#demo-canvas {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
}
/* review - end */

/* QnA - start */
#QnA {background: url(../img/qna_bg.png) 0 0;}
#QnA .wrap{background: url(../img/qna_bg.png) no-repeat 0 0;}
 #QnA h1 {
 	padding-top:300px;
 	text-align:center;
 }
 #QnA h2 a {
 	position:absolute; left:50%; top:720px;
 	transform: translateX(-100px);
 	z-index:4;
 	border: 3px solid #222;
 	color:#222;
 }
 .wrapper {
  width: 100%;
  font-family: 'Alfa Slab One', sans-serif;
  position:absolute; left:0; top:0;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
 }
.wrapper p {
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -50%) skew(-10deg, 0);
  transform: translate(-50%, -50%) skew(-10deg, 0); 
  position: absolute; top: 50%;  left: 50%;
  margin: 0;  z-index: 1;
  font-size: 10vw;font-weight: 400;
  white-space: nowrap;
  color: #F25826; letter-spacing:2vw;
}
.wrapper p::after, .wrapper p::before {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  content: attr(data-heading);
  position: absolute;
}
.wrapper p::after {
  left: -15px;  top:-15px; z-index:2;
  -webkit-text-stroke: 3px #FECE35;
  -webkit-text-fill-color: transparent;
}
.wrapper p::before {
  z-index:-1;
  left: 15px;
  top: 15px;
  color: #F68722;
}
.wrapper p:hover::after {left: -20px;  top:-20px;}
.wrapper p:hover::before {left: 20px;  top: 20px;}
.box {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f7ecde, 10%);
  position:absolute; left:0; top:0; z-index:-1;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.wave {
  opacity: .6;
  position: absolute;
  top: 3%; left: 50%;
  background: #f7ecde;
  width: 3500px;
  height: 3500px;
  margin-left: -1750px;
  margin-top: 300px;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .3;
  background: #54bab9;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
/* QnA - end */

/* vote - start */
#vote {background:url(../img/vote_bg.png) 0 0;}
#vote .wrap {background:url(../img/vote_bg.png) no-repeat 0 0;}
#vote h1 {
	text-align:center;
	padding-top:200px;
	color:#fff;
}
#vote h2 a {
	margin: 600px auto 0  auto;
	background-color:rgba(0,0,0,0.2);
	transition:all 0.5s;
}
#vote h2 a:hover {background-color: #54bab9;}
#vote_frame {
	display:block;
	width:900px; height:500px;
	position:absolute; left:50%; top:350px;
	transform:translateX(-450px);
}
#vote_frame > li {
	position:relative;
	float:left;
	overflow:hidden;
	}
#frame1 {
	width:400px; height:500px;
	margin-right:100px;
}
#frame2 {
	width:400px; height:500px;
}
.slides > li {
	position:absolute;left:0; top:80px;
	float:left;
	transition:all 0.5s;
}
.slides > li:nth-child(2){left:400px; top:80px;}
.controller {
	width:400px; height:100px;
	position:absolute; left:0; top:400px;
}
.controller span {
	display:block; 
	margin-top:30px; cursor:pointer;}
.controller img {
	position:absolute; left:50%; top:30px;
	transform: translateX(-25px);
	cursor:pointer;
}
.prev {float:left; margin-left:100px;}
.next {float:right; margin-right:100px;}
.checked {background-image:url(../img/heart_fill.png)}
/* vote - end */

/* codi_book - start */
#codi_book {background:radial-gradient(#e66465, #f7ecde);}
#codi_book h1 {
	width:800px;
	position:absolute; left:50%; top:600px;
	transform:translateX(-400px);
	text-align:center;
#codi_book h2 a{
	position:absolute; left:50%; top:700px;
	transform:translateX(-100px);
	z-index:4;
}
#codi_book .wrap:nth-child(1) div {
	width:500px; height:580px; 
	margin:170px auto;
	background-color:#fff ;
}
#codi_img {
	position:absolute; left:50%; top:0;
	transform:translateX(-960px);
	width:1920px; height:100%; margin:0 auto;
}
.drag {cursor:pointer; cursor:hand;}
.drag:nth-child(1) {width:250px;}
.drag:nth-child(2) {width:250px;}
.drag:nth-child(3) {width:240px;}
.drag:nth-child(4) {width:240px;}
.drag:nth-child(5) {width:250px;}
.drag:nth-child(6) {width:280px;}
.drag:nth-child(7) {width:300px;}
.drag:nth-child(8) {width:300px;}
.drag:nth-child(9) {width:280px;}
.drag:nth-child(10) {width:150px;}
.drag:nth-child(11) {width:200px;}
.drag:nth-child(12) {width:200px;}
.drag:nth-child(13) {width:250px;}
.drag:nth-child(14) {width:130px;} /* 얼굴 */

.drag:nth-child(15) {width:250px;} /* 청남방 */
.drag:nth-child(16) {width:250px;}
.drag:nth-child(17) {width:200px;}
.drag:nth-child(18) {width:250px;}
.drag:nth-child(19) {width:200px;} /* 슬랙스바지 */
.drag:nth-child(20) {width:200px;} 
.drag:nth-child(21) {width:200px;}
.drag:nth-child(22) {width:200px;}
.drag:nth-child(23) {width:350px;} /* 베이지 아우터 */
.drag:nth-child(24) {width:300px;}
.drag:nth-child(25) {width:300px;}
.drag:nth-child(26) {width:200px;} /* 스니커즈 */
.drag:nth-child(27) {width:200px;}
.drag:nth-child(28) {width:150px;}
.drag:nth-child(29) {width:100px;} /* 얼굴 */
/* codi_book - end */


