@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nanum+Pen+Script&display=swap');

html {width: 100%; height: 100%;}
body {
    font-family:'Nanum pen script';
    font-size:30px;
}
article {
    width: 100%; height: 1080px;
    margin:0; padding:0px;
    position: relative;
    overflow: hidden;
}
#container {background-color: #000;}
/* ************ */
/* head - start */
/* ************ */
header {
    width: 100%; height: 100px;
    background-color: #f7ecde;
    position:fixed; z-index: 999;
}
#logo {
    display: block;
    width: 270px; height: 50px;
    margin: 0 auto; padding:25px 0;
}
#rnb {
    position:absolute; right: 0;top: 0;
    z-index: 2;
    text-align: center; line-height: 40px;
}
/* <로그인 후> logout, mypage 버튼 숨기기 */
#statusLogin {display: none;} 
#rnb #logStatus1 {position: absolute; right: 180px;top: 30px;}
#rnb #logStatus2 {position:absolute; right: 50px; top: 30px;}
#rnb #logStatus2 a {
    display:block;
    width: 100px; height: 40px;
    border-top-left-radius: 20px; border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;
    background-color: #54bab9;
}
#menu_bar{
    position:absolute; left: 50px; top: 32px;
    z-index: 2; cursor: pointer;  
}
#gnb {
    width: 340px; background-color: #e9dac1;
    position:absolute; left: -340px; top: 100px;
    z-index: 3;
    transition: all 1s;
}
#gnb img {
    float:right; 
    margin:12.5px 15px 0 0;
    cursor: pointer;
}
#gnb li {
    width: 340px; height: 50px;
    line-height: 50px; text-align: center;
}
#gnb li:nth-child(2n-1) {background-color: #fff;}
#gnb li:hover{background-color: #54bab9;}
#gnb li:nth-child(1):hover{background-color: #fff;}
#notice_bar{
    width: 100%;height: 50px;
    position: absolute; left: 0; top: 100px;
    z-index: 2;
    background-color: #fff;
}
#notice_bar img {
    margin:10px 100px 0 390px;
}
#notice_bar MARQUEE{
    width: 1020px;
    position:absolute; left: 450px; top: 0;
    line-height: 50px;
}
.hide{position:absolute; left: -340px; top: 100px;}
.show{transform:translateX(340px);}
/* ************ */
/* head - end */
/* ************ */

/* ************ */
/* main - start */
/* ************ */

/* adver_video - start */
#adver_video {
    margin: 0;
    background: #000;
}
#adver_video video {
    width: 100%; height: 930px;
    margin-top: 150px;
    object-fit: cover;
}
/* 전체화면 버튼 */ 
video::-webkit-media-controls-fullscreen-button {display: none !important;}
/* 일시정지, 재생 버튼 */ 
video::-webkit-media-controls-play-button {display: none !important;} 
/* 재생 슬라이드..? */ 
video::-webkit-media-controls-timeline {display: none !important;} 
/* 현재 진행 시간 */ 
video::-webkit-media-controls-current-time-display{display: none !important;} 
/* 전체 시간 */ 
video::-webkit-media-controls-time-remaining-display {display: none !important;} 
/* 음소거 버튼 */ 
video::-webkit-media-controls {}
video::-webkit-media-controls-mute-button {} 
/* 볼륨 조절 슬라이드 */ 
video::-webkit-media-controls-volume-slider {display: none !important;}
#scrolldown {
    color:#fff;
    position:absolute; left: 50%; bottom: 100px;
    animation: updown infinite 1s;
    text-align: center;
}
#scrolldown img{
    width: 50px; height: 50px;
}
@keyframes updown{
    0% {bottom:100px}
    50% {bottom:150px}
    100% {bottom:100px}
}
/* adver_video - end */

/* todaysCodi - start */
#todaysCodi {
    background: url(../img/todays_codi_bg.png) no-repeat 0 0;
    color: #fff;
}
#todaysCodi h1{
    font-size: 50px;
    line-height: 100px;
    margin-left:340px; padding-top:200px;
}
#todaysCodi > a {
    width: 200px; height: 60px;
    display: block; 
    position: absolute; left: 340px; top: 300px;
    z-index: 2;
    border: 0;
    border-top-left-radius: 30px; border-top-right-radius: 30px;
    border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;
    border:3px solid #fff;
    font-size: 40px; color: #fff;
    line-height: 60px; text-align: center;
    transition: all 0.5s;
}
#todaysCodi > a:hover {
    background-color: #54bab9;
}
#lookTop3 p {
    text-align: center;
    margin-top: 80px;
}
#lookTop3 ul{
    width: 990px; height: 500px;
    margin: 150px auto 0 auto;
}
#lookTop3 li {
    width: 270px; height: 335px;
    border-top-left-radius: 125px; border-top-right-radius: 125px;
    background-color: red;
    float: left;
    position: relative; top:0px;
    z-index: 2;
}
#lookTop3 li:nth-child(1) {
    width: 350px; height: 450px;
    border-top-left-radius: 175px; border-top-right-radius: 175px;
    position: absolute; left: 775px; top: 445px;
    /* 임시 사진 */
    background: url(../img/todays_codi_1st.png) no-repeat 0 0;
    background-size: 365px;
}
#lookTop3 li:nth-child(2) {
    margin-right: 450px;
    /* 임시 사진 */
    background: url(../img/todays_codi_2nd.png) no-repeat 0 0;
    background-size: 270px;
}
#lookTop3 li:nth-child(3) {
    /* 임시 사진 */
    background: url(../img/todays_codi_3rd.png) no-repeat -45px -20px;
    background-size: 365px;
}
#lookTop3 span {
    display: block;
    text-align: center;
    margin-top: 345px;
}
#lookTop3 li:nth-child(1) span {margin-top: 460px;}
#lookTop3 li img {
    position: absolute; right: -35px; top: -20px;
    transform: rotate(45deg);
}
@keyframes shake{
    0%{transform: rotate(45deg);}
    10%{transform: rotate(90deg);}
    20%{transform: rotate(0deg);}
    30%{transform: rotate(75deg);}
    40%{transform: rotate(15deg);}
    50%{transform: rotate(55deg);}
    60%{transform: rotate(35deg);}
    70%{transform: rotate(45deg);}
    100%{transform: rotate(45deg);}
  }
#lookTop3 li:nth-child(1) img {right: -15px; top: -10px;}
.codi_hover {
    width: 270px; height: 335px;
    border-top-left-radius: 125px; border-top-right-radius: 125px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute; left: 0; top: -80px;
    opacity: 0;  transition: all 0.5s;
}
#lookTop3 ul li:nth-child(1) > .codi_hover {
    width: 350px; height: 450px;
    border-top-left-radius: 175px; border-top-right-radius: 175px;
    position: absolute; left:0px; top: -80px; 
} 
.codi_hover a {
    display: block;
    width: 150px; height: 40px;
    border: 2px solid #fff;
    line-height: 40px; color:#fff;
    margin: 50% auto;
    transition:all 0.5s;
}
.codi_hover  a:hover {background-color:#54bab9;}
#lookTop3 ul li:hover .codi_hover {opacity: 1;}
#lookTop3 ul li:hover img {
    animation-name: shake;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 0.5s;
}
#particles-js{
    position: absolute;left: 0; top: 0;
    z-index: 1;
}
/* todaysCodi - end */

/* style_reco - start */
#style_reco {
    background:url(../img/style_reco_bg.png) no-repeat 0 0;
}
/* style_reco - end */

/* purchase - start */
#purchase {
    background-color:#54bab9;
}
/* purchase - end */

/* review - start */
#review {
    background-color:blueviolet;
}
/* review - end */

/* QnA - start */
#QnA {
    background-color:blue;
}
/* QnA - end */

/* vote - start */
#vote {
    background-color:skyblue;
}
/* vote - end */

/* codi_book - start */
#codi_book {
    background-color:pink;
}
/* codi_book - end */

