@charset "UTF-8";

#mypage_wrap {
	width:100%; height:100%;
	padding-top:150px;
	background-color:#f7ecde;
	text-align:center;
}
#mypage_wrap > ul {
	position:relative;
	overflow:hidden;
	min-width:1200px; max-width:2400px;
	margin:0 auto;
}
#mypage_wrap > ul:nth-child(1) {z-index:2;}
#mypage_wrap > ul:nth-child(1)::before {
	content: ""; display:block;
	width:100%; height:300px;
	background : url(../img/vote_bg.png) no-repeat 0 0;
	position:absolute; left:0; top:0;
	z-index:-1;
	opacity:0.5;
}
#profile {
	width:100%; height:300px;
}
#profile li img:nth-child(1) {
	width:150px; height:150px;
	margin-top:25px;
	border-top-left-radius: 100px; border-top-right-radius: 100px;
    border-bottom-left-radius: 100px; border-bottom-right-radius: 100px;
}
#profile #level_frame {
	width:200px; height:200px;
	position:absolute; left:0; top:0;
}
#profile > li:nth-child(1) {
	width:200px; height:200px;
	margin:50px 100px 0 340px;
	position:relative;
}
#profile > li:nth-child(1) p {
	width:150px; height:150px;
	border-top-left-radius: 100px; border-top-right-radius: 100px;
    border-bottom-left-radius: 100px; border-bottom-right-radius: 100px;
	background-color:rgba(0,0,0,0.5);
	position:absolute; left:25px; top:25px;
	transition:all 0.5s;
	opacity:0;
}
#profile > li:nth-child(1) p a {
	width:150px; height:100px;
	border-top-left-radius: 100px; border-top-right-radius: 100px;
    border-bottom-left-radius: 100px; border-bottom-right-radius: 100px;
	display:block;
	padding-top:50px;
	text-align:center; color:#fff;
	line-height:30px;
}
#profile > li:nth-child(1) p:hover {opacity:1;}
#profile > li {
	float:left; margin-top:100px;
}
#profile .userid {
	width:220px;
	margin-right:100px;
	font-size:30px; line-height:30px;
	text-align:left;
}
#profile .grade span {
	width:100px; height:30px;
	display:inline-block;
	border: none;
	border-top-left-radius: 100px; border-top-right-radius: 100px;
    border-bottom-left-radius: 100px; border-bottom-right-radius: 100px;
	background-color:rgba(84,186,185,0.8);
	line-height:30px; color:#fff;
}
#profile > li ul {float:left;}
#grade_menual {
	width:210px; height:200px;
	float:right; margin:-30px 0 0 20px;
	font-size:20px; text-align:left;
	line-height:20px;
	background-color:#fff;
	opacity:0;
	transition:all 0.5s;
}
.grade span:hover + #grade_menual {opacity:1;}
#my_count {
	position:absolute; left:640px; top:80px;
}
#my_count ul+ul {margin-left:50px;}

#profile li:nth-child(5) button{
	width:120px; height:40px;
	background-color: #54bab9;
	border:none;
	border-top-left-radius: 20px; border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;
	color:#fff; font-size:14px;
	position:absolute; right:25%; top:140px;
}
#profile li:nth-child(6) button {
	width:100px; height:40px;
	background-color: #54bab9;
	border:none;
	border-top-left-radius: 20px; border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;
	color:#fff; font-size:14px;
	position:absolute; right:17.7%; top:140px;
}

#my_list {
	width:1200px; height:470px;
	margin:0 auto;
}
#my_list input {display:none;}
#my_list label {
	width:calc(100%/7); 
	display:block;
	float:left;
	line-height:50px;
}
#my_list > li:nth-child(2n-1) label {background-color:#e9dac1;}
#my_list > li:nth-child(2n) label {background-color:#eee2ce;}
#my_list input:checked + label {background-color: #54bab9; color:#fff;}

#my_list > li > div {
	width:100%; height:500px;
	position:absolute; left:0; top:50px;
	display:none;
}
#my_list input:checked ~ div {display:block;}
#my_list > li > div ul li {float:left}
#my_list > li > div ul {
	width:1200px;
	line-height:50px; text-align:center;
}
.my_list_title li{
	width:25%; 
	margin:20px 0;
	font-size:28px; font-weight:600;
	overflow:hidden;
}
.my_list_title li:nth-child(2) {width:40%;}
.my_list_title li:nth-child(3) {width:10%;}
.my_list_contents a:hover li{background-color:rgba(0,0,0,0.1);}
.my_list_contents a:link {color:#222;}
.my_list_contents a:visited {color:#222;}

/* my댓글-start */
#my_list > li:nth-child(7) .my_list_title li:nth-child(1) {width:20%;}
#my_list > li:nth-child(7) .my_list_title li:nth-child(2) {width:60%;}
#my_list > li:nth-child(7) .my_list_title li:nth-child(3) {width:20%;}

#my_list > li:nth-child(7) .my_list_contents li:nth-child(1) {width:20%;}
#my_list > li:nth-child(7) .my_list_contents li:nth-child(2) {width:60%;}
#my_list > li:nth-child(7) .my_list_contents li:nth-child(3) {width:20%;}
/* my댓글-end */

.my_list_contents li{
	font-size:24px;
	overflow:hidden;
	border-bottom : 1px solid #888;
	transition:all 0.3s;
	white-space:nowrap;
	text-overflow: ellipsis;
	position:relative;
}
.my_list_subtitle {width:300px;}/* 25% */
.my_list_subcontent {width:480px;}/* 40% */
.my_list_hit {width:120px;}/* 10% */
.my_list_date {width:300px;}/* 25% */


.my_list_alink {
	display:inline-block;
	width:1200px; height:50px;
	position:absolute; left:0; top:0;
	transition:all 0.5s;
}
.my_list_alink:hover {background-color:rgba(0,0,0,0.1);}

/* pwdCheck - start */

#contents {
	width:100%; height:1080px;
	background-color:#f7ecde;
	padding-top:150px;
	background:url(../img/vote_bg.png) 0 150px; 
	text-align:center;
}
#contents ul {
	width:500px; height:500px;
	margin: 150px auto 0 auto;
	background-color:rgba(255,255,255,0.8);
}
#contents li {
	display:block;
	font-size:40px; 
	line-height:50px;
}
#contents li:nth-child(1) {padding-top:80px;}
#contents li:nth-child(2) {padding-bottom:50px;}
#contents li:nth-child(2) span {color:#888;}
#contents li:nth-child(4) input {
	width:200px; height:30px;
	border:none;
	margin-bottom:30px;
}
#contents li:nth-child(5) input {
	width:80px; height:40px;
	background-color: #54bab9; color:#fff;
	border:none;
	border-top-left-radius: 20px; border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;
}

/* pwdCheck - end */

