@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nanum+Pen+Script&display=swap');
#title{
    font-family: 'Noto Sans KR';
    font-size: 36px;
}
body{
	background-image: url("../img/tc_bg_1.png");
	
}
a:link, a:visited, a:hover{
    text-decoration:none;
    color:black;
}
.oldboard {font-size: 0.8em;}
.oldboard option {font-size:0.4em}
#write {
	width:100px; height:50px; border:1px solid gray;	
	display:block;
	border-radius: 25px;
    transition:all 0.5s;
    margin: 20px 0 20px 1100px;
}
#write a {
	width:100px; height:50px; 
	color:gray;
	line-height:50px;
	transition:all 0.5s;
	text-align:center;
	display:block;
}
#write:hover {transform:scale(1.1);color:#222;}
#write:hover a {transform:scale(1.1);color:#222;}

h1, h2, .oldlist>li:nth-child(3), .oldlist>li:nth-child(6n+1), .oldlist>li:nth-child(6n+2), .oldlist>li:nth-child(6n+4), .oldlist>li:nth-child(6n+5), .oldlist>li:nth-child(6n){
    text-align: center;
}
.oldboard{
    width:1200px;
    margin:0 auto;
    padding:0 30px;
}
.oldboard > a:nth-child(1) {
	display:block;
	width:150px; height:60px;
	margin:0 auto;
}
.oldlist{
    border-top: 1px solid black;
    font-size:16px;
    min-height:400px;
}
.oldlist>li{
    float: left;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid rgb(192, 192, 192);
    width: 10%;
    background-color: white;
    overflow:hidden;
}
.oldlist>li:nth-child(1) {font-size:20px}
.oldlist>li:nth-child(2) {font-size:20px}
.oldlist>li:nth-child(4) {font-size:20px}
.oldlist>li:nth-child(5) {font-size:20px}
.oldlist>li:nth-child(6) {font-size:20px}
.oldlist>li:nth-child(6n+4){width:20%}
.oldlist>li:nth-child(6n+3){
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.oldlist>li:nth-child(3) {font-size:20px; text-align:center;}
.oldlist>li:nth-child(6n+5){width: 20%;}
#product_img{
    width: 80px;
    height: 80px;
}
.real_profile_img{
	width:20px; height:20px; border-radius: 70%;
}

#searchFrm{
    width:324px; height:50px;
    margin:30px auto;
    display: table;
    padding-top:150px
 }
 #searchWord {margin:0 10px}
 .real_profile_img{
	width:20px; height:20px; border-radius: 70%;
	display:inline-block;
	margin:0 5px -3px 0
}
#moreView{
	width:100px; height:125px;
	display:block;
	margin:0 auto
}