@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nanum+Pen+Script&display=swap');

body{
	background-image: url("../img/tc_bg_1.png");
	font-family: 'Noto Sans KR';
    font-size: 1em;
}
.oldboard{
    width:1200px;
    margin:0 auto;
    overflow:auto;
    font-family: 'Noto Sans KR';
    font-size: 1em;
    padding-top:100px
}
.oldlist{
	padding:30px;
}
.content{
	font-family: 'Noto Sans KR';
	font-weight: 600;
    font-size: xx-large;
}
#file_img{
    float: left;
    margin-right: 50px;
    width: 400px;
    height: 400px;
    border: 1px solid black;
}
li{
    list-style-type: none;
}
#call{
    width: 300px;
    height: 100px;
    margin-top: 30px;
    font-size: xx-large;
    font-weight: 600;
    background-color: orange;
    color: white;
    border: 0;
}
#report{
    width: 70px;
    height: 35px;
    font-weight: 600;
    background-image: url("/img/배경.png");
    color: red;
    border: 0;
    position: relative;
    top:0px;
    left: 600px;
    font-size: 1em;
    line-height:35px;
}
.oldViewId, .oldViewHit {display:block; height:65px;}
#seller{
	font-size:1.2em;
	font-weight: 200;
}
#seller > b {font-size:24px; font-weight:600;}
#item > b {font-size:24px}
#seller_img{
    width: 100px;
    height: 100px;
    border-radius: 70%;
}
#level_frame{
	width: 140px;
    height: 140px;
    border-radius: 70%;
    position:relative;
    top:0px;
	right:120px;
}
#user_nick{
	margin-left:-100px;
	font-size:1.2em;
	font-weight:500;
}
.reply{
    width: 1200px;
    clear: both;
    margin-top:20px;
    padding-left:30px;
}
#replybtn{
    position: relative;
    right: 0px;
    bottom: 17px;
    width: 100px;
    height: 50px;
    border: 2px solid black;
    font-family: 'Noto Sans KR';
    font-size: 1em;
}
#replybtn2{
    position: relative;
    left: 10px;
    bottom: 17px;
    width: 100px;
    height: 50px;
    border: 2px solid black;
    font-family: 'Noto Sans KR';
    font-size: 1em;
}
#reply_profile{
	width:50px; 
	height:50px; 
	border-radius:70%; 
	position:relative; 
	margin-left:10px;
	margin-right:-62px;
	top:0px;
}
#reply_level_frame{
	width: 75px;
    height: 75px;
    border-radius: 70%;
    position:relative;
}
#reply_edit{
	width:37px;
	height:30px;
	text-align:center;
	font-size:0.8em;
	font-weight:600;
	padding:0px;
	margin-left:10px;
	border:0;
	background-image: url("../img/배경.png");
	color:blue;
}
#reply_del{
	width:37px;
	height:30px;
	text-align:center;
	font-size:0.8em;
	font-weight:600;
	padding:0px;
	border:0;
	background-image: url("../img/배경.png");
	color:blue;
}
#replyList #reply_level_frame {margin-right:30px}
#replyList > ul li div p {margin-top:10px; margin-left:10px;}

#pro_img{
    width: 60%;
    float: left;
}
#pro_con{
    width: 40%;
    float: left;
}
/* 모달 */
.modal {font-size: 20px; text-align:center}
.modal-backdrop {margin-left:-340px}
.modal-content {
	display:block;
	max-width:1000px; height: 650px;
	position:absolute; left:50%; top:150px;
	transform:translateX(-550px);
}
#report_content{
	position:relative;
	left:53px;
	border:1px solid black;
}
#reportbtn{
	position:relative;
	top:50px;
	right:163px;
}
#reportForm textarea {margin-top:20px}
#reportForm ul li:nth-child(1) {
	display:block;
	height:80px;
	line-height:80px;
}
#reportForm ul li:nth-child(3) {
	margin-top:50px
}
footer{
	font-size: 1em;
}