.boardcontainer{
    width:1200px;
    margin:0 auto;
    overflow:auto;
}
#boardFrm{
	margin-top:150px;
    margin-bottom: 150px;
}
h1{
    text-align:center;
}
#title, #city, #price, #old_name, #gender_type, #old_price, #state_num{
    width:50%;
    height: 50px;
    font-size: 0.6em;
}
#introduce{
    font-size: 1em;
}
#boardFrm li{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.5em;
}
#enter{
    margin-top: 150px;
    text-align: center;
    width: 300px;
    height: 100px;
    font-size: xx-large;
    font-weight: 600;
    background-color: orange;
    color: white;
    border: 0;
}
label{
    display:inline-block;
    width: 100px;
    border: solid 1px black;
    background-color: beige;
    font-size: x-large;
}
#file_route01, #file_route02, #file_route03, #file_route04, #file_route05{
    height: 30px;
    background-color: white;
}
#img1>div{
    margin-top: 30px;
    border: 1px solid black;
}
#img2>div{
    width: 50%;
    height: 450px;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
