@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Nanum+Pen+Script&display=swap');
.qnaboard h1, .qnaboard h2, .qnaboard h5{
    font-family: 'Noto Sans KR';
    text-align: center;
}
body{
    background-image: url("../img/tc_bg_1.png");
} 
.qnaboard{
    font-family: 'Noto Sans KR';
    font-size: 0.8em;
   
}
#q_write {
	width:100px; height:50px; border:1px solid gray;	
	display:block;
	border-radius: 25px;
    transition:all 0.5s;
    margin:20px 0 20px 1100px;
}
#q_write a {
	width:100px; height:50px; 
	color:gray;
	line-height:50px;
	transition:all 0.5s;
	text-align:center;
	display:block;
}
#q_write:hover {transform:scale(1.1);color:#222;}
#q_write:hover a {transform:scale(1.1);color:#222;}

.qnaboard h1, .qnaboard h2, .qnalist>li:nth-child(5n+1), .qnalist>li:nth-child(2), .qnalist>li:nth-child(5n+3), .qnalist>li:nth-child(5n+4), .qnalist>li:nth-child(5n){
    text-align: center;
}
.qndboard h1 {
	font-size:1.5em; margin-bottom:20px;
}
.qnaboard h2 {font-size:1.2em}
.qnaboard{
    width:1200px;
    margin:0 auto;
    padding:0 30px;
}
.qnalist{
    border-top: 1px soli black;
    font-size:16px;
     min-height:300px;
}
.qnalist > li a{
	color:black;
}
.qnalist > li {overflow:hidden}
.qnalist > li:nth-child(1) {font-size:20px;}
.qnalist > li:nth-child(2) {font-size:20px;}
.qnalist > li:nth-child(3) {font-size:20px;}
.qnalist > li:nth-child(4) {font-size:20px;}
.qnalist > li:nth-child(5) {font-size:20px;}
.qnalist>li{
    float: left;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid lightgray;
    width: 10%;
    background-color: white;
}
.qnalist>li:nth-child(5n+2){
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.qnalist>li:nth-child(5n+4){
    width:20%;
}
.paging{
    height:30px;
    display: table; margin-left: auto; margin-right: auto;
}
.paging>li{
    text-align:center;
    float:left;
    width:32px;
    height:24px;
    margin:15px;
}
.paging>li a:link, .paging>li a:visited, .paging>li a:hover{
    text-decoration:none;
    color:black;
}
.paging>li a:hover{
    text-decoration:none;
    font-weight:bold;
}
#searchFrm{
    width:324px; height:50px;
    margin:30px auto;
    display: table;
    padding-top:30px
 }
 #searchWord {margin:0 10px}

.real_profile_img{
	width:20px; height:20px; border-radius: 70%;
	display:inline-block;
	margin:0 5px -3px 0
}