@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Nanum+Pen+Script&display=swap');
body{
    background-image: url("../img/배경.png");
}
.boardcontainer{
    width:1200px;
    margin:0 auto;
    padding:0 30px;
    overflow:auto;
    font-family:'Nanum pen script';
    font-size: 0.7em;
}
.boardcontainer h1{
    text-align:center;
    font-family: 'Hi Melody', cursive;
}
#title, #city, #price{
    width:80%;
    height: 50px;
    font-size: 0.6em;
}
#introduce{
    font-size: 0.6em;
}
#boardFrm li{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family:'Nanum pen script';
    font-size: 2em;
}

#enter{
    width: 300px;
    height: 100px;
    font-size: xx-large;
    font-weight: 600;
    background-color: orange;
    color: white;
    border: 0;
}
label{
    display:inline-block;
    width: 150px;
    border: solid 1px black;
    background-color: beige;
    margin-right: 300px;
}
#file_route{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
}
#upload{
    text-align: center;
    height: 32px;
    position: relative;
    right: 10px;
    top: 5.5px;
    background-color: #efefef;
    font-size: 0.7em;
}