@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Nanum+Pen+Script&display=swap');
body{
    background-image: url("../img/tc_bg_1.png");
    position:relative;
	z-index:-2	
}
.boardcontainer{
    width:1200px;
    margin:0 auto;
    padding:0 30px;
    overflow:auto;
    font-family: 'Noto Sans KR';
    font-size: 0.7em;
}
.boardcontainer h1{
    text-align:center;
    font-family: 'Noto Sans KR';
}
#title, #city, #price{
    width:80%;
    height: 50px;
    font-size: 0.6em;
}
#introduce{
    font-size: 0.6em;
}
#boardFrm li{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 1.5em;
}
.qna_introduce {
	display:block; 
	width:100%; height:160px;
}
.qna_introduce span {
	line-height:160px; 
	float:left;
	margin:0 30px 0 220px
}
.qna_img_area {position:relative}
.qna_img_area span {
	line-height:300px; 
	float:left;
	margin-left:150px
}
.qna_img_area input, label{
	float:left;
	margin:135px 0 0 50px ;
	line-height:30px
}
.qna_img_area label {margin:131px 0 0 50px !important;}
#boardFrm ul li textarea {float:left;}
#boardFrm li label {margin-top:-10px}
#enter{
    width: 300px;
    height: 50px;
    font-size: 0.8em;
    font-weight: 600;
    background-color: orange;
    color: white;
    border: 0;
    border-radius:25px;
}
label{
    display:inline-block;
    width: 150px;
    border: solid 1px black;
    background-color: beige;
    margin-right: 300px;
}
#file_route{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
}
#upload{
    text-align: center;
    height: 32px;
    position: relative;
    right: 10px;
    top: 5.5px;
    background-color: #efefef;
    font-size: 0.7em;
}

#particles-js{
	width:100%; height:100%;
    position:fixed;left: 0; top: 0;
    z-index: -1;    
}