@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Nanum+Pen+Script&display=swap');
.recboard h1, .recboard h2, .recboard h5, .rec_title{
    text-align: center;
}
body{
    background-image: url("../img/tc_bg_1.png");
    font-family:'Noto Sans KR';
    font-size: 1em;
} 
.recboard{
    width:1200px;
    margin:0 auto;
    padding:0 30px;
}
#r_write {
	width:100px; height:50px; border:1px solid gray;	
	display:block;
	border-radius: 25px;
    transition:all 0.5s;
    margin:20px 0 20px 1100px;
}
#r_write a {
	width:100px; height:50px; 
	color:gray;
	line-height:50px;
	transition:all 0.5s;
	text-align:center;
	display:block;
}
#r_write:hover {transform:scale(1.1);color:#222;}
#r_write:hover a {transform:scale(1.1);color:#222;}
.recli{
    width:1200px;
    height:auto;
    overflow:auto;
}
a:link, a:visited, a:hover{
    text-decoration:none;
    color:black;
}
.recboard h1, .recboard h2{
    text-align: center;
}
.reclist{
    padding:20px 30px;
    width: 300px;
    height: 500px;
    float: left;
    background-color:#fff;
    border: 1px solid #bfbfbf;
}
.recommendlist{
    
    font-size:16px;
     min-height:300px;
}
.rec_img{
    width: 240px;
    height: 340px;
    background: #f3f3f3;
    margin-bottom: 20px;
}
.reclist a:nth-child(1) {
	width: 240px; height: 340px;
	display:block
}
#rec_img_link{
    margin-bottom: 30px;
}
#profile_img{
    width:30px; 
    height:30px; 
    border-radius: 70%;
   	margin:-10px 10px -10px 0;
}
.rec_title{
	width:240px; height:40px;
	display:block;
    font-weight: bold;
    line-height:50px;
    overflow:hidden;
	text-overflow:ellipsis;
	margin-top:-5px
}
#searchFrm{
    height:50px;
    margin:30px auto;
    display: table;
    padding-top:30px
 }
 #searchWord {margin:0 10px}
  #rec_btn {margin-bottom:50px}
 #rec_btn button {
 	width:100px; height:30px;
 	font-size:18px;
 	line-height:30px;
 	margin-right:30px;
 	border-radius:15px;
 }
 .button_toggled{
	width:100px; height:30px;
	margin:0 10px;
	border:0;
	border-radius:15px;
	color:#fff;
	cursor:pointer;
	background-color:#276968;
}
.button_normal {
	width:100px; height:30px;
	margin:0 10px;
	border:0;
	border-radius:15px;
	background-color:#54bab9;
	color:#fff;
	cursor:pointer;
}
#moreView{
	width:7px; height:125px;
	display:block;
	margin:0 auto
}
