@charset "UTF-8";
*{
	margin:0;
	padding:0;
	text-decoration: none;
	box-sizing: border-box;
    list-style-type:none;
}

#review-wrapper{
    width:1080px;
	margin:0 auto;
	border:1px solid red; /*임시경계선*/
}

#title{
	width:100%;
	height:60px;
}

.img1{
	padding-top:30px;
	width:100%;
	text-align: center;
	min-height : 150px;
	border:1px solid red; /*임시경계선*/
}

.img1>div{
	margin-top:30px;
}

.img2{
	width:100%;
	height:250px;
}

.img2_up{
	float:left;
	display:table;
	position:relative;
	height: 200px;
	table-layout : fixed;
	margin-left : 10px;
	border:1px solid #d3d1d1; /*임시경계선*/
}

#content{
	width:100%;
	height:400px;
	border:1px solid green; /*임시경계선*/
}

/* 글 보기 */
#main_img{
	text-align: center;
	border:1px solid green; /*임시경계선*/
	min-width:400px;
}

.Top_menu{
	height:60px;
	line-height: 60px;
	padding: 0 20px;
}

#Top_name{
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
	width:80%;
}

#content_img{
	height:250px;
	vertical-align: top;
}

#content_img > img{
	display:table;
	position:relative;
	height: 200px;
	table-layout : fixed;
	margin-left : 10px;
	border:1px solid #d3d1d1; /*임시경계선*/
}

.button01{
	float:right;
	cursor:pointer;
	margin-left:15px; 
	text-align:center;
	width:90px;
	height:50px;
	line-height:50px;
	font-size:18px;
	color: #fff;
	border-radius: 10px;
	font-family:'Nanum pen script';
	background-color: rgb( 244, 156, 21);
	transition:all.15s linear;
}

.button02{
	float:right;
	cursor:pointer;
	margin-left:15px; 
	text-align:center;
	width:90px;
	height:50px;
	line-height:50px;
	font-size:18px;
	color: #fff;
	border-radius: 10px;
	font-family:'Nanum pen script';
	background-color: rgb( 227, 104, 83);
	transition:all.15s linear;
}
