@charset "UTF-8";
*{
	margin:0;
	padding:0;
	text-decoration: none;
	box-sizing: border-box;
    list-style-type:none;
}
a:link {color:#222; text-decoration: none;}
a:visited {color:#222}

body{
	background:url(../img/tc_bg_1.png) 0 0;
	position:relative;
	z-index:-2
}
#review-wrapper{
    width:1200px;
	margin:0 auto;
	padding-top : 150px;
	position:relative;
	z-index:1
}
/* 글 보기 */
.review_container > ul > li {line-height:35px}
.review_container > ul > li:nth-child(3) {
	width:400px; height:50px;
	line-height:50px;
	display:block;
	position:absolute; right:0; top:300px
}
.review_container > ul > li:nth-child(4){
	width:400px; height:200px;
	line-height:50px;
	display:block;
	position:absolute; right:0; top:350px
}
.review_container > ul > li:nth-child(5) {
	width:100%; height:250px;
	float:left
}
.review_container > ul > li:nth-child(6) {
	display:block;
	width:200px; height:100px;
	position:absolute;
	right:0; top:300px;
}
#main_img{
	text-align: center;
	width:100%;
	border-top:1px solid black;
	margin:0 auto;
	
}
#main_img img {min-width:400px;}
.Top_menu{
	font-size:24px;
	height:100px;
	border-bottom:1px solid black;
	margin-bottom:10px;
}
.Top_menu > div {line-height:100px;}
#Top_name{
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
	width:80%;
}

.review_profile {position:relative}
.review_profile li:nth-child(1) {line-height:50px}

#profile_frame{
	position:absolute;
	left:30px;
	top:5px;
	z-index: 1;
}

#level_frame{
	position: absolute;
	top:-30px;
	left: -5px;
	z-index: 2;
}

#content{
	width:100%; height:200px;
	font-size:20px;
}
#content > strong {
	font-weight:400;
	line-height:198px;
	width:100px;
	text-align:center;
	background-color:rgba(0,0,0,0.1);
	border:1px solid #888;
	border-top:none;
	margin-right:30px;
	float:left;
}
#content > span {
	display:inline-block;
	width:1000px; height:200px;
	line-height:30px;
	word-break:break-all;
	overflow-x:hidden;
	overflow-y:auto;
}
#content_img > img{
	display:block;
	margin:15px auto;

}

.button01{
	float:right;
	cursor:pointer;
	margin-left:15px; 
	text-align:center;
	width:90px;
	height:50px;
	line-height:50px;
	font-size:18px;
	color: #fff;
	border-radius: 10px;
	font-family:'Nanum pen script';
	background-color: rgb( 244, 156, 21);
	transition:all.15s linear;
}

.button02{
	float:right;
	cursor:pointer;
	margin-left:15px; 
	text-align:center;
	width:90px;
	height:50px;
	line-height:50px;
	font-size:18px;
	color: #fff;
	border-radius: 10px;
	background-color: rgb( 227, 104, 83);
	transition:all.15s linear;
}

#coment{
	width: 980px; 
	height: 100px;
	border:2px solid rgba(168, 168, 168,0.7);
}

#replybtn{
	position:absolute;
	width:100px;
	height: 100px;
}


/* 댓글 css*/

.reply_area{
	position:relative;
	width:1080px;
	height:100px;
	border-bottom:1px solid rgba(182, 182, 182, 0.6);
}

.profile_img{
	float:left;
	width:100px;
	height:100px;
}

.reply_posting{
	position:relative;
	width:890px;
	height:100px;
	float: left;
	padding:5px;
}

.reply_img1{
	position: absolute;
	z-index: 1;
	width:50px;
	height:50px;
	top: 20px;
	left:25px;
	border-radius:70%;
	
}

.reply_img2{
	position: absolute;
	z-index: 2;
	width:80px;
	height:80px;
	top:6px;
	left:10px;
}

.comment{
	height:60px;
	width:870px;
	overflow: auto;
	text-overflow: ellipsis;	
}

.comment_modi{
	height:90px;
	width:870px;
	overflow: auto;
	text-overflow: ellipsis;	
}

.comment > b{
	margin-right:10px;
}

.reply_info{
	position: absolute;
	bottom:5px;
	left:5px;
}

.reply_buttond{
	position:relative;
	padding-top:5px;
}
.reply_button{
	width:40px;
	height:30px;
	color:white;
	background-color: rgb( 244, 156, 21);
	border-radius: 5px;
	border:none;
}

.reply_button3{
	position:absolute;
	width:40px;
	height:30px;
	margin-left:20px;
	color:white;
	background-color: rgb( 244, 156, 21);
	border-radius: 5px;
	border:none;
}
/* 글쓰기 */
#gender_type {margin:30px 0}
#content {margin-bottom:50px}
#reviewFrm label{
	width:80px; height:30px;font-size:16px;
	display:inline-block;
	text-align:center; line-height:30px;
	margin-left:-0px
}
#reviewFrm > ul > li > input {font-size:20px}
#img_section1, #img_section2, #img_section3, #img_section4, #img_section5{
	width:240px; height:240px;
	overflow:hidden;
}
.button01 {
	font-family: 'Noto Sans KR';
	display:block; margin:100px 500px 0 0;
}
.img1 div > input {font-size:18px; height:30px}

.img2_up >input {font-size:18px}
.img2_up:nth-child(2) input {width:150px; margin-right:10px; height:30px}
.img2_up:nth-child(3) input {width:150px; margin-right:10px; height:30px}
.img2_up:nth-child(4) input {width:150px; margin-right:10px; height:30px}
.img2_up:nth-child(5) input {width:150px; margin-right:10px; height:30px}

#title{
	width:100%;
	height:60px;
}

input[type=text]{
	font-family: 'Noto Sans KR';
	font-size: 24px;
}

.img1{
	padding-top:30px;
	width:100%;
	text-align: center;
	min-height : 150px;
}

.img1>div{
	margin-top:30px;
}

.img2{
	width:100%;
	height:305px;
}

.img2_up{
	float:left;
	display:table;
	position:relative;
	width:250px;
	table-layout : fixed;
	margin-left : 15px;
}

.img2_up > img, .img2_up > input{
	width:240px;
	margin-left : 4px;
	overflow:hidden;
	text-overflow: ellipsis;
	background-color: #ddd;
}

.img2_up >label{
	border:2px solid rgba(168, 168, 168,0.7);
	background-color: #ddd;
	margin-left : 193px;
}

 .img1>div>label{
 	border:2px solid rgba(168, 168, 168,0.7);
	background-color: #ddd;
 }


#content{width:100%;}

#particles-js{
	width:100%; height:100%;
    position:fixed;left: 0; top: 0;
    z-index: -1;    
}
/* 모달 */
.modal {font-size: 20px; text-align:center}
.modal-backdrop {margin-left:-340px}
.modal-content {
	display:block;
	max-width:1000px; height: 650px;
	position:absolute; left:50%; top:150px;
	transform:translateX(-550px);
}
#reportbtn {
	display:block;
	width:100px; height:30px;
	text-align:center;
	margin:50px auto 0 auto;
	
}
#reportForm textarea {margin-top:20px}
#reportForm ul li:nth-child(1) {
	display:block;
	height:80px;
	line-height:80px;
}
#reportForm ul li:nth-child(3) {
	margin-top:50px
}