@charset "UTF-8";
*{
	margin:0;
	padding:0;
	text-decoration: none;
	box-sizing: border-box;
    list-style-type:none;
}
body {background:url(../img/tc_bg_1.png);}
#review-wrapper{
    width:1200px;
	margin:0 auto;
    font-family: 'Noto Sans KR';
    font-size: 0.8em;
}

#sub-title{
	width:100%;
	text-align:center;
	padding-top:50px
}
#sub-title h1 {font-size:36px;}
#sub-title p {font-size:1.2em; font-weight:600}

#list-menu{
	width:100px; height:50px; 
	border:1px solid gray;	
	border-radius: 25px;
    transition:all 0.5s;
    margin:20px 0 20px 1100px;
}
#list-menu a {
	width:100px; height:50px; 
	color:gray;
	line-height:50px;
	transition:all 0.5s;
	display:block; text-align:center
}
#list-menu:hover {transform:scale(1.1);color:#222;}
#list-menu:hover a {transform:scale(1.1);color:#222;}

#review_container{
	width:100%;
}
#reviewListUl {min-height:300px}
.post_area{
	display:inline-block;
	position:relative;
	width:100%; height:150px;
	border-bottom:1px solid #d3d1d1; /*임시경계선*/
}

.sum-img{
	display:inline-block;
	width:130px; height:130px;
	margin:10px 50px 10px 10px;
}

.post{
	display:inline-block;
	width:80%; height:150px;
	position:absolute; left:200px; top:0;
}
.post_top {
	width:570px; height:150px;
	float:left;
}
.post_bottom {
	width:390px; height:150px;
	float:right;
}
.post_bottom span > img {
	width:25px; height:25px; 
	border-radius: 50%;
	display:inline-block;
	margin: 0 15px -5px 0;
}
.post_bottom span:nth-child(n+1) {
	display:block;
	margin:30px 0 0 50px;
	line-height:25px
}
.post_bottom span:nth-child(n+2) {
	display:inline-block;
	width:80px; height:30px;
	line-height:30px;
}
.post_bottom span:nth-child(n+3) {
	line-height:30px;	
	display:inline-block;
	width:200px; height:30px;
	
}
.title_area{
	font-size:24px;
	font-weight:500;
	line-height:60px;
	white-space:nowrap;
	text-overflow: ellipsis;
}

.txt {
	display:block;
	width:570px;
	font-size:18px;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}


#searchFrm{
    height:50px;
    margin:30px auto;
    display: table;
    padding-top:30px
 }
 #searchWord {margin:0 10px}

