@charset "UTF-8";

/* todayCodiList - start */

body {
	background:url(../img/tc_bg_1.png);
	overflow-x:hidden;
	padding-bottom:50px
}
#tc_container {
	width:100%; height:100%;
	background:url(../img/tc_bg_1.png);
	
	
}
#tc_wrap {
	width:1920px; height:100%;
	position:relative; left:50%; top:150px;
	transform:translateX(-960px);	
	text-align:center;
}
#tc_container h1 {margin:50px 0 50px 0}
#write {
	width:100px; height:50px; border:1px solid gray;	
	position:absolute; left:200px; top:100px;
	border-top-left-radius: 25px; border-top-right-radius: 25px;
    border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;
    transition:all 0.5s;
}
#write a {
	width:100px; height:50px; 
	color:gray;
	line-height:50px;
	transition:all 0.5s;
}
#write:hover {transform:scale(1.1);color:#222;}
#write:hover a {transform:scale(1.1);color:#222;}
#tc_box {
	width:1600px; height:1500px;
	display:inline-block;
	margin-top:300px;
}
.tc_img {
    position:relative;
	width:100%; height:100%;
	display:inline-block;
}
#columns{
    column-width:350px;
    column-gap: 15px;
}
#columns figure{
	position:relative;
    display:block;
    margin-bottom:30px;
    width:350px; height:100%;
    overflow:hidden
 }
 #columns figure > img{width:100%;min-height:400px;}
 #columns figure > div {
	position:absolute; left:0px; top:0;
	transition:all 0.5s; opacity:0;
	width:350px; min-height:400px; height:99%;
	background-color:rgba(0,0,0,0.4);
}
#columns figure > div:hover {opacity:1}
a:link {color:#fff; text-decoration: none;}
a:visited {color:#fff}
#columns figure > div > a {
 	width:350px; height:400px;
 	display:block;
 	position:absolute; left:0; top:50%;
 	transform:translateY(-200px)
 	
 }
#columns figure > div > a > img {
  	width:80px; height:80px;
  	border-radius:50%;
  	margin-top:20px;
  }
#columns figure > div > a > p {margin-bottom:30px}
#columns figure > div > a > span {
	position:absolute; right:80px; top:280px
}
.like_btn .heart_empty {
	display:block; margin:0 auto;
	cursor:pointer;
	margin-bottom:10px;
	width:50px; height:50px;
}
.buttons {
	width:350px; height:50px;
	display:block;
	margin-top:100px;
}
.buttons button {
	height:30px;
	border:2px solid #fff;
	border-radius:10px;
	margin:0 10px;
	float:left;
	background-color:transparent;
	color:#fff;
	cursor:pointer;
}
.buttons button:active {background-color:#fff; color:#222}
.buttons button:nth-child(1) {margin-left:80px}
/* todayCodiList - end */

/* todayCodiWrite - start */

.tcw_container{
    width:1200px;
    margin:0 auto;
    overflow:auto;
    padding-top:150px
}
#tc_boardFrm{
	margin-top:150px;
    margin-bottom: 150px;
}
.tcw_container h1{
	margin:50px 0 -80px 0;
    text-align:center;
}
#tc_title{
    width:50%;
    height: 50px;
    font-size: 0.6em;
}
#tc_boardFrm li{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.1em;
}
#tc_boardFrm li input {
	font-size:20px; height:30px; line-height:30px;
}
#tc_boardFrm li select {font-size:18px; height:30px; line-height:30px}
#tc_enter{
    margin-top: 150px;
    text-align: center;
    width: 300px; height: 100px;
    font-size: xx-large; font-weight: 600;
    background-color: orange;
    line-height:100px;  color: white;
    border: 0;
    border-top-left-radius: 50px; border-top-right-radius: 50px;
    border-bottom-left-radius: 50px; border-bottom-right-radius: 50px;
	cursor:pointer;
}
#tc_boardFrm label{
    display:inline-block;
    width: 100px;
    border: solid 1px black;
    background-color: beige;
    font-size: x-large;
    cursor:pointer;
    border-top-left-radius: 50px; border-top-right-radius: 50px;
    border-bottom-left-radius: 50px; border-bottom-right-radius: 50px;
}
#file_route1, #file_route2, #file_route3{
    height: 30px;
    background-color: white;
}
#tc_boardFrm textarea {margin-top:30px}
#tc_img1 > div{
	width:350px; height:600px;
    margin: 30px auto 80px auto;
    border: 1px solid black;
    position:relative;
}
#tc_img1 #file_route1, #upload_file1, label {position:absolute;}
#tc_img1 #file_route1 {left:-20px; top:625px}
#tc_img1 #upload_file1 {left:-20px; top:625px}
#tc_img1 label {left:280px; top:625px}
#tc_img_section {
	max-width:350px; max-height:600px;
}
#tc_img2 {
	display:block;
	width:100%; height:730px; 
	position:relative;
}
#tc_img2 > div{
    width:350px; height:600px;
    margin: 0 auto;
    border: 1px solid black;
    position:absolute; 
}
#img2_box1 {left:200px; top:60px}
#img2_box2 {left:650px; top:60px}

#tc_img2 #file_route2, #upload_file2, label {position:absolute;}
#tc_img2 #file_route2 {left:-20px; top:625px}
#tc_img2 #upload_file2 {left:-20px; top:625px}

#tc_img2 #file_route3, #upload_file3, label {position:absolute;}
#tc_img2 #file_route3 {left:-20px; top:625px}
#tc_img2 #upload_file3 {left:-20px; top:625px}

#tc_img2 label {left:280px; top:625px}
#tc_img_section2 {
	max-width:350px; max-height:600px;
}
#tc_img_section3 {
	max-width:350px; max-height:600px;
}

#particles-js{
	width:100%; height:100%;
    position:fixed;left: 0; top: 0;
    z-index: -1;    
}
/* todayCodiWrite - end */


 .button_toggled{
	width:100px; height:30px;
	margin:0 10px;
	border:0;
	border-radius:15px;
	color:#fff;
	cursor:pointer;
	background-color:#276968;
}
.button_normal {
	width:100px; height:30px;
	margin:0 10px;
	border:0;
	border-radius:15px;
	background-color:#54bab9;
	color:#fff;
	cursor:pointer;
}
