@charset "UTF-8";
*{
	margin:0;
	padding:0;
	text-decoration: none;
	box-sizing: border-box;
    list-style-type:none;
}
body{background:url(../img/tc_bg_1.png);}

#vote-wrapper{
    width:1080px;
	margin:0 auto;
	padding-top:200px;
}

#sub-title{
	text-align:center;
	width:100%;
	height:150px;

}

#list-menu{
	width:100px; height:50px; 
	border:1px solid gray;	
	border-radius: 25px;
    transition:all 0.5s;
    margin:20px 0 20px 940px;
}

#list-menu a {
	width:100px; 
	height:50px; 
	color:gray;
	line-height:50px;
	transition:all 0.5s;
	display:block; text-align:center;
	}
	
#list-menu:hover {transform:scale(1.1);color:#222;}
#list-menu:hover a {transform:scale(1.1);color:#222;}

#vote_container{
	position:relative;
	margin-bottom:10px;
	width:100%;
	padding-top:50px;
	padding-left:50px;
}

#vote_container:after{
	content:'';
	display:block;
	clear:both;
	}
	
.post_vote{
	width:224px;
	height:287px;
	background-color:white;
	border-radius:25px;
    float: left;
    position:relative;
    margin-right:28px;
    margin-bottom:20px;
	
}

.sum-img{
	position:relative;
	width:220px;
	height:190px;
	vertical-align: top;
}

.sum-img1{
	top:15px;
	left:15px;
	position:absolute;
	width:132px;
	height:132px;
	padding-right:10px;
	vertical-align: top;
	margin-left:5px;
	overflow:hidden;
}

.sum-img2{
	top:50px;
	right:10px;
	position:absolute;
	width:132px;
	height:132px;
	vertical-align: top;
	margin-right:5px;
	overflow:hidden;
}
.post_top{
	position:relative;
	height:40px;
	margin-top:5px;
	margin-bottom:3px;
}

.post_top>div{
	float:left;
}

.title_area{
	width:100px;
	height:40px;
	line-height:40px;
	overflow:hidden;
	text-overflow: ellipsis;
	margin-left:10px;
	margin-right:5px;
}

.post_status{
	text-align:center;
	width:80px;
	height:40px;
	line-height:40px;
	margin-left:5px;
	margin-right:5px;
}

.post_bottom{
	position:relative;
	width:100%;
	height:50px;
	line-height:43px;
	background-color:#e9dac1;
	border-radius: 0 0 15px 15px;
	padding-left :10px;
	overflow:hidden;
}

.post_bottom >span{
	font-size: 18px;
	margin-right:7px;
	margin-left:10px;
}

.post_bottom img{
	vertical-align:middle;
	border-radius: 10px;
}

#voteListUl{
	width:1080px;
}

/*페이징*/
.paging{
    height:30px;
    display: table; margin-left: auto; margin-right: auto;
}
.paging>li{
    text-align:center;
    float:left;
    width:32px;
    height:24px;
    margin:15px;
}
.paging>li a:link, .paging>li a:visited, .paging>li a:hover{
    text-decoration:none;
    color:black;
}
.paging>li a:hover{
    text-decoration:none;
    font-weight:bold;
}
#searchFrm{
    width:304px;
    margin-bottom:30px;
    display: table; margin-left: auto; margin-right: auto;
}
#moreViewVote img {
	display:block; width:100; height:125px;
	margin:0 auto
}
