<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team.fitzza.dao.AdminDAO">
	<!-- 전체 회원 수 -->
	<select id="CountUser" resultType="int">
		SELECT COUNT(user_id) CNT from user
	</select>
	<!-- 전체 회원 명단 -->
	<select id="AllUser"  resultType="MemberVO">
		SELECT  * 
		FROM  	user A
		JOIN	user_grade B
		ON		B.exp_min <![CDATA[<=]]> A.exp
		AND 	A.exp <![CDATA[<=]]> B.exp_max
	</select>
	<!-- 탈퇴한 회원 명단 -->
	<select id="LeavedUser"  resultType="MemberVO">
		SELECT * FROM user_leave
	</select>
</mapper>
