<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team.fitzza.dao.AdminDAO">
	<!-- 전체 회원 수 -->
	<select id="CountUser" resultType="int">
		SELECT COUNT(user_id) CNT from user
	</select>
	<!-- 전체 회원 명단 -->
	<select id="AllUser"  resultType="MemberVO">
		SELECT  * 
		FROM  	user A
		JOIN	user_grade B
		ON		B.exp_min <![CDATA[<=]]> A.exp
		AND 	A.exp <![CDATA[<=]]> B.exp_max
	</select>
	<!-- 탈퇴한 회원 수 -->
	<select id="CountLeaveUser" resultType="int">
		SELECT COUNT(email) CNT from user_leave
	</select>
	<!-- 탈퇴한 회원 명단 -->
	<select id="LeaveUser"  resultType="MemberVO">
		SELECT * FROM user_leave
	</select>
	<!-- 강제탈퇴 -->
	<insert id="memberDel">
 		INSERT INTO user_leave(leave_forced, email)
 		VALUES	 
 				<foreach collection="ChkList" item="item" separator=","> 
 					('Y', #{item}) 
 				</foreach>
 	</insert>
 	
	<delete id="forcedBye">
        DELETE FROM user
        <where>
            <foreach item="item" collection="ChkList" open="email in (" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </delete>
	<!-- 관리자 권한 부여 -->
	<update id="makeAdmin">
		UPDATE user SET permission='admin'
		<where>
            <foreach item="item" collection="ChkList" open="email in (" separator="," close=")">
                #{item}
            </foreach>
        </where>
	</update>
 	<!-- 회원 게시물 목록 -->
 	<select id="UserBoard"  resultType="BoardVO">
		SELECT  * 
		FROM  	board
		WHERE	user_id=#{user_id}
	</select>
 	<!-- 회원 댓글 목록 -->
 	<select id="UserReply"  resultType="ReplyVO">
		SELECT  * 
		FROM  	reply
		WHERE	user_id=#{user_id}
	</select>
 	
</mapper>
