<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team.fitzza.dao.AdminDAO">
	<!-- 신고 관리 -->
	<select id="reportSelect" resultType="BoardVO">
		SELECT  A.report_num,  A.board_num, A.user_id as reported_id, A.report_content, A.report_time, A.state,B.title, B.user_id, B.type_num, 
				C.category_name, D.type_name
		FROM 	board_report A
		JOIN	board B
		ON		A.board_num=B.board_num
		JOIN 	report_category C
		ON   	A.category_num=C.category_num
		JOIN	board_type D
		ON		B.type_num=D.type_num 	
		ORDER BY A.report_num DESC;
	</select>
	
	<update id="reportOff">
		UPDATE board_report SET state='Y' WHERE report_num=#{param1};
	</update>
	<select id="reportCount" resultType="int">
		select count(report_num) from board_report;
	</select>
	<select id="reportNoCount" resultType="int">
		select count(report_num) from board_report where state='N';
	</select>
	<select id="reportYesCount" resultType="int">
		select count(report_num) from board_report where state='Y';
	</select>
	
	<!-- 중고 거래 관리 -->
	<select id="adminOldList" resultType="BoardVO">
		SELECT A.board_num, A.title, A.content, A.user_id, A.write_date, B.trade_date, C.state_name  
		FROM board A, trade_detail B, trade_state C 
		WHERE A.type_num=3 and A.board_num=B.board_num and C.state_num=B.state_num;
	</select>
	<!-- 전체개수 -->
	<select id="allOldList" resultType="int">
		select count(board_num) from trade_detail;
	</select>
	<!-- 판매중 -->
	<select id="saleOldList" resultType="int">
		select count(board_num) from trade_detail where state_num=1;
	</select>
	<!-- 예약중 -->
	<select id="reserveOldList" resultType="int">
		select count(board_num) from trade_detail where state_num=2;
	</select>
	<!-- 거래완료 -->
	<select id="completeOldList" resultType="int">
		select count(board_num) from trade_detail where state_num=3;
	</select>
	
</mapper>
