<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team.fitzza.dao.BoardDAO">
	<select id="boardSelect" resultType="com.team.fitzza.vo.BoardVO">
        SELECT   board_num, title, user_id, hit, ip, write_date
		FROM     board A
		WHERE    board_num=${param1}
    </select>
	<!-- 조회수 올리기 -->
	<update id="hitCount">
        UPDATE board SET hit = hit+1 WHERE board_num=#{param1}
    </update>
    
  	<!-- 신고하기 -->
  	<insert id="reportInsert">
  		INSERT INTO board_report(board_num, report_content, category_num, user_id)
		VALUES(${board_num}, #{report_content}, ${category_num}, #{user_id});
  	</insert>
  	<!-- 신고 누적수 -->
 	<update id="reportUp">
 		UPDATE user SET report_hit=report_hit+1 WHERE user_id=(SELECT user_id FROM board WHERE board_num=${board_num});
 	</update>
 	<delete id="boardDelete">
 		DELETE FROM board WHERE board_num=#{param1} AND user_id=#{param2}
 	</delete>
 	<select id="getType_num" resultType="int">
 		select type_num from board where board_num=${param1}
 	</select>
</mapper>