<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.team.fitzza.dao.MemberDAO">
  	<select id="loginCheck" resultType="MemberVO">
  		SELECT user_id, user_nickname FROM user
  		WHERE user_id=#{user_id} AND user_pwd=#{user_pwd}
 	</select>
 	<insert id="memberInsert">
 		INSERT INTO user(user_name, user_id, user_pwd, user_nickname, tel, email)
		VALUES(#{user_name}, #{user_id}, #{user_pwd}, #{user_nickname}, #{tel}, #{email})
 	</insert>
 	
 	<select id="memberSelect" resultType="com.team.fitzza.vo.MemberVO">
		SELECT user_id, user_name, user_nickname, tel, email FROM user
		WHERE user_id = #{param1}
	</select>
	<update id="memberUpdate">
		UPDATE user SET user_pwd=#{user_pwd}, user_nickname=#{user_nickname}, 
		tel=#{tel} WHERE user_id=#{user_id}
	</update>
	<!-- 
	<select id="idCheck" resultType="int">
		select count(userid) cnt from member where userid=#{param1}
	</select>
	 -->
  </mapper>