<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team.fitzza.dao.OldBoardDAO">

	<!-- oldWrite -->
  	<insert id="oldBoardDetailInsert">
  		INSERT INTO board_old(board_num, old_name, city, old_price) VALUES(#{board_num}, #{old_name}, #{city}, #{old_price})
  	</insert> 
  	<insert id="oldBoardStateInsert">
  		INSERT INTO trade_detail(board_num,state_num) 
  		VALUES(#{board_num},1)
  	</insert> 

	<!-- oldList -->
	<select id="oldBoardSelectAll" resultType="com.team.fitzza.vo.BoardVO">
        SELECT   A.board_num, A.title, A.user_id, A.write_date, B.city, C.profile_image, C.user_nickname, D.file1 
		FROM     board A, board_old B, user C, board_common_image D 
		WHERE    A.board_num=B.board_num 
		AND		 A.user_id=C.user_id 
		AND 	 A.board_num=D.board_num 
		AND 	 A.type_num=3
		ORDER BY A.board_num DESC
		LIMIT #{start}, #{end}
    </select>
    
    <!-- oldView -->
    <select id="oldBoardView" resultType="com.team.fitzza.vo.BoardVO">
	    SELECT A.board_num, A.title, A.hit, A.write_date, A.content, A.user_id, 
	    	   B.file1, B.file2, B.file3, B.file4, B.file5, 
	    	   C.old_name, C.old_price, C.city, 
	   		   D.user_nickname, D.report_hit, D.profile_image, D.exp,
	   		   E.gender_name,
	   		   F.state_num,
	   		   G.state_name,
	   		   H.frame_img
	    FROM   board A, board_common_image B, board_old C, user D, gender E, trade_detail F, trade_state G, user_grade H
	    WHERE  A.board_num=B.board_num 
	    AND    A.board_num=C.board_num 
	    AND    A.user_id=D.user_id 
	    AND    A.gender_type=E.gender_type
	    AND    A.board_num=F.board_num
	    AND    F.state_num=G.state_num
	    AND    A.board_num=${param1}
	    AND    H.exp_min <![CDATA[<=]]> D.exp
		AND    D.exp <![CDATA[<=]]> H.exp_max
    </select>
    
    <!-- oldEdit -->
    <update id="oldBoardUpdate">
  		UPDATE  board SET title=#{title}, content=#{content}, gender_type=#{gender_type}
		WHERE board_num=#{board_num}
  	</update>
	
	<update id="oldBoardDetailUpdate">
  		UPDATE board_old SET old_name=#{old_name}, city=#{city}, old_price=#{old_price}
		WHERE board_num=#{board_num}
  	</update> 
	
  	<update id="oldBoardFileUpdate">
  		UPDATE board_common_image SET file1=#{file1},file2=#{file2},file3=#{file3},file4=#{file4},file5=#{file5}
		WHERE board_num=#{board_num}
  	</update>
	
  	<update id="oldBoardStateUpdate">
  		UPDATE trade_detail SET state_num=#{state_num} WHERE board_num=#{board_num}
  	</update> 
  	
  	<select id="oldBoardSearch" resultType="BoardVO">
        SELECT   A.board_num, A.title, A.user_id, A.write_date, B.city, C.profile_image, C.user_nickname, D.file1 
      FROM     board A, board_old B, user C, board_common_image D 
      WHERE    A.board_num=B.board_num 
      AND       A.user_id=C.user_id 
      AND     A.board_num=D.board_num 
      AND     A.type_num=3
      <choose>
         <when test="param1.equals('title')">
            AND A.title like #{param2}
         </when>
         <when test="param1.equals('content')">
            AND A.content like #{param2}
         </when>
         <when test="param1.equals('city')">
            AND B.city like #{param2}
         </when>
         <when test="param1.equals('user_id')">
            AND A.user_id like #{param2}
         </when>
      </choose>
      ORDER BY A.board_num DESC
      LIMIT #{param3}, #{param4}
     </select>
</mapper>